
<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

  <head>
    <title>ListaMentores</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />


<link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<link rel="stylesheet" href="style.css" type="text/css">

</head>
<body>

	<div class="container">

		<div id="listaDeMentores">
			<table class="table table-hover">
				<thead>
					<tr>
						<th>Nome</th>
						<th>Email</th>
						<th>Nome</th>
					</tr>
				</thead>
				<tr th:each="mentor : ${mentores}">
					<td><span th:text="${mentor.nome}"></span></td>
					<td><span th:text="${mentor.email}"></span></td>
					<td><span th:text="${mentor.telefone}"></span></td>
				</tr>

			</table>
		</div>
		
		<hr/>

		<form action="salvar" method="post">
			<div class="form-group">
				<label for="nome">Nome completo</label> <input type="text"
					class="form-control" id="nome" name="nome" placeholder="Nome" />
			</div>
			<div class="form-group">
				<label for="email">E-mail</label> <input type="email"
					class="form-control" id="email" name="email" placeholder="Email" />
			</div>
			<div class="form-group">
				<label for="telefone">Telefone</label> <input
					type="text" class="form-control" id="telefone" name="telefone" placeholder="Telefone" />
			</div>
			<button type="submit" class="btn-success">Confirmar</button>
		</form>

	</div>

	<script
		src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="bootstrap/js/bootstrap.min.js"></script>

</body>
</html>
